{% extends "entries/base.html" %}
{% block content %}
    <h1>{{context.entry.title}}</h1>
    {{context.entry.text|safe}}
    <p><strong>Теги: </strong>
        {% for tag in context.entry.tag_list.all %}
            <a href="{% url 'posts_by_tag' tag.id %}"> {{tag.tag_text}}</a>
        {% endfor %}
    <p><strong>Комментарии:</strong></p>
    <hr/>
    {% for comment in context.comments %}
        <p>{{comment.comment_text}}</p>
        <hr/>
    {% endfor %}
    <form action="" method="post">{%csrf_token%}
        {{ context.form.as_p }}
        <input type="submit" value="Отправить" />
    </form>
{% endblock %}